@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

body {
    float: center;
    margin: auto;
    width: 80%;
    font-family: 'Source Sans Pro', sans-serif;
    color: #FFFFFF;
    background-color: #333333;
}

@media screen and (max-width: 800px){
    body{
        font-size: 18px;
    }
}


div {
    background-color: #555555;
    border-left: 1px solid #00FF99;
}

img {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

hr {
    color: #808080;
    border-style: solid;
}

code {
    color: #BBFFCC;
    font-family: 'Source Code Pro', monospace;
    font-size: 15px;
    overflow: auto;
}

/*summary {
    font-size: 10px;
}*/

a:link {
    color: #00FF99;
    background-color: transparent;
    text-decoration: underline;
}

a:visited {
    color: #00FF99;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #00FF00;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: darkgreen;
    background-color: transparent;
    text-decoration: underline;
}

.sectionHeaders {
    font-size: 24px;
    font-weight: bold;
}

.articleHeaders {
    font-size: 28px;
    font-weight:bold;
}

@media screen and (min-width: 800px){
    #sidebar {
        position: relative;
        float: left;
        width: 20%;
        padding-left: 5px;
        padding-right: 5px;
        margin-bottom:10px;
        background-color: inherit;
        border: none;
    }

    #main {
        position: relative;
        float: right;
        width: 75%;
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom:10px;
    /*    background-image: linear-gradient(to bottom, #555555, #333333);*/
    }

}

@media screen and (max-width: 800px){
    #sidebar {
        position: relative;
        float: center;
        text-align: center;
        width: 90%;
        padding-left: 5px;
        padding-right: 5px;
        margin-bottom:10px;
        background-color: inherit;
        border: none;
    }

    #main {
        position: relative;
        float: center;
        width: 100%;
        padding-top: 1px;
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom:10px;
        background-image: linear-gradient(to bottom, #555555, #333333);
    }
}

#title {
    font-size: 36px;
    text-align: center;
}

#code {
    font-family: "Monospace";
    font-size: 14px;
    border: 1px solid white;
    border-radius: 0px;
}

div.codeBlock {
    overflow: auto;
    display: block;
    background-color: #333333;
}

#new-title {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

#sidebarLink {
    text-decoration: none;
}
