body {
	float: center;
	margin: auto;
	width: 80%;
	font-family: Verdana, Geneva, sans-serif;
	color: #FFFFFF;
	background-color: #333333;
}

div {
	background-color: #555555;
	border-left: 1px solid #00FF00;
}

img {
	width: 100%;
}

hr {
	border-style: solid;
}

a:link {
    color: #00FF99;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: #00FF99;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #00FF00;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: darkgreen;
    background-color: transparent;
    text-decoration: underline;
}

.sectionHeaders {
	font-size: 24px;
	font-weight: bold;
}

.articleHeaders {
	font-size: 28px;
	font-weight:bold;
}

#sidebar {
	position: relative;
	float: left;
	width: 20%;
	padding-left: 5px;
	padding-right: 5px;
	margin-bottom:10px;
	background-color: inherit;
	border: none;
}

#main {
	position: relative;
	float: right;
	width: 75%;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom:10px;
	background-image: linear-gradient(to bottom, #555555, #333333);
}

#title {
	font-size: 36px;
	text-align: center;
}

#code {
	font-family: "Monospace";
	font-size: 14px;
	border: 1px solid white;
	border-radius: 0px;
}
