<div class="pageTitle">
    <a href="/" style="text-decoration: none;">Willard's Guide to Computing for Forgetful Power Users</a>
    <div style="display: flex; flex-direction: row;">
    <a href="https://zxcvhq.dev/" style="padding-left: 10px;"><img src="https://zxcvhq.dev/BT.png" style="width:88px; height:31px;"></a>
    <a href="https://coolmathgames.tech/" style="padding-left: 10px;"><img src="https://coolmathgames.tech/badge/maryhouse.png" style="width:88px; height:31px;"></a>
    <a href="https://nilges.me/" style="padding-left: 10px;"><img src="/res/wilnil_takeone.gif" style="width:88px; height:31px;"></a>
    </div>
</div>
