<header>  
    <nav class="navbar" role="navigation">  
        <div id="sidebar">  
            <a id="sidebarLink" href="/">Posts</a>
            <br><br>
            <a id="sidebarLink" href="/talks">Talks</a>
            <br><br>
            <a id="sidebarLink" href="/about-me">About Me</a>
            <br><br>
            <a id="sidebarLink" href="/project-archive">Project Archive</a>
            <br><br><hr><br>
            <a id="sidebarLink" href="/resume.pdf">Resume</a>
            <br><br>
            <a id="sidebarLink" href="https://www.github.com/WillNilges/">GitHub</a>
            <br><br>
            <a id="sidebarLink" href="https://www.linkedin.com/in/will-nilges/">LinkedIn</a>
            <br><br>
            <a id="sidebarLink" href="https://www.librepunk.club/@will">Mastodon</a>
            <a id="sidebarLink" href="https://www.github.com/WillNilges/willnilges.github.io"><h6>Site Source Code</h6></a>
        </div>
    </nav>  
</header>  
