<header>  
    <nav class="navbar" role="navigation">  
        <div id="sidebar">  
            <a id="sidebarLink" href="/blog">Blogs</a>  
            <br><br>
            <a id="sidebarLink" href="/categories">Categories</a>  
            <br><br>
            <a id="sidebarLink" href="/blog">Guide to Computing</a>
            <br><br>
            <a id="sidebarLink" href="useful_links.html">Useful Links</a>
            <br><br>
            <a id="sidebarLink" href="aboutme.html">About Me</a>
            <br><br>
            <a id="sidebarLink" href="projectarchive.html">Project Archive</a>
            <br><br>
            <a id="sidebarLink" href="https://www.github.com/WillNilges/willnilges.github.io">Site Source Code</a>
            <hr><!--Links to my social media-->
            <a id="sidebarLink" href="resume.pdf">Resume</a>
            <br><br>
            <a id="sidebarLink" href="https://www.github.com/WillNilges/">GitHub</a>
            <br><br>
            <a id="sidebarLink" href="https://www.linkedin.com/in/will-nilges/">LinkedIn</a>
        </div>
    </nav>  
</header>  
