    <a class="sidebarLink" href="/">Posts</a>
    <a class="sidebarLink" href="/talks">Talks</a>
    <a class="sidebarLink" href="/about-me">About Me</a>
    <a class="sidebarLink" href="/project-archive">Project Archive</a>
    <p class="sidebarLink sidebarSeparator">...</p>
    <a class="sidebarLink" href="/resume.pdf">Resume</a>
    <a class="sidebarLink" href="https://www.github.com/WillNilges/">GitHub</a>
    <a class="sidebarLink" href="https://www.linkedin.com/in/will-nilges/">LinkedIn</a>
    <a class="sidebarLink" href="https://www.librepunk.club/@will">Mastodon</a>
    <a class="sidebarLink" href="https://www.github.com/WillNilges/willnilges.github.io">Site Source Code</a>
