<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        <div style="display: flex; flex-direction: column;">
            {{- partial "header.html" . -}}
            <div style="display: flex; flex-direction: row;">
                {{- partial "sidebar.html" . -}}
                <div class="mainContent">
                    {{- block "main" . }}{{- end }}
                </div>
                {{- partial "footer.html" . -}}
            </div>
        </div>
    </body>
</html>
