{{ define "main" }}  
<section class="section">  
  <article>  
    <div class="blog__container">  
          <h1 class="blog__title">{{ .Title }}</h1>  
            <div class="blog__details">  
              <div class="blog__info">  
                <p><time>{{ .PublishDate.Format "January 2, 2006" }}</time> |   
                    {{ .ReadingTime }} {{ if eq .ReadingTime 1 }} minute {{ else }} 	                         minutes {{ end }} read  
                 </p>  
              </div>  
            </div>  
          <div class="content">  
            {{ .Content }}  
          </div>  
        </div>  
  </article>  
</section>  
{{ end }}  
